.animated-gradient {
  background: linear-gradient(-45deg, #9ED9FF, #49B6B0, #1577B6, #0F50A1);
  background-size: 400% 400%;
  animation: gradientBG 12s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
